* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow the container to take up remaining space */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
    border-bottom: 5px solid #fae714;
    height: 125px;
}

.header-links {
    display: flex;
    justify-self: right;
    justify-content: right;
    gap: 40px;
}

.header-links a{
    text-decoration: none;
    color: #424242;
    font-size: 30px;
    font-weight: 900;
}

a.carmlogo {
    background-color: #cc0a24;
    color: white;
    text-decoration-line: none;
    font-size: 50px;
    font-weight: 900;
    border-radius: 50%;
    padding: 30px 60px;
    margin: 10px;
}

div.imageline {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageline p{
    background-color: #cc0a24;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

div.imgcont{
    display: flex;
    align-content: center;
    margin: 20px 0 30px 0;
}

img.imgline{
    max-height: 500px;
    max-width: 500px;
}

div.footer {
    display: flex;
    background-color: #424242;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px; /* Add some padding on the right */
}

div.logoids {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
}

.logoloids {
    display: flex;
    gap: 10px;
}

.logoids div p {
    color: white;
    background-color: #cc0a24;
    width: 800px;
    text-wrap: wrap;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px;/
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #cc0a24;
    color: white;
    font-size: 20px;
    text-align: center;
}

img.lithuania {
    max-height: 40px;
    max-width: 90px;
    object-fit: contain;
    margin-top: 10px;
}

.leftlinks p,
.middlelinks p,
.rightlinks p {
    color: gray;
    font-size: 18px;
}

p.capped {
    font-weight: 900;
    font-size: 24px;
    color: white;
}
